# Handling missing data - fillna, interpolate, dropna

In [3]:
import pandas as pd
import os
os.chdir("/home/shrishjay/programs/datasets/")

In [4]:
df = pd.read_csv("weather_data_new.csv", parse_dates = ["day"])      # as the days are recognized as strings so we changed the string type to date format
print(type(df.day[0]))
df

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04          NaN        9.0   Sunny
2 2017-01-05         28.0        NaN    Snow
3 2017-01-06          NaN        7.0     NaN
4 2017-01-07         32.0        NaN    Rain
5 2017-01-08          NaN        NaN   Sunny
6 2017-01-09          NaN        NaN     NaN
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [8]:
df.set_index(['day'], inplace = True)
df

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04          NaN        9.0   Sunny
2017-01-05         28.0        NaN    Snow
2017-01-06          NaN        7.0     NaN
2017-01-07         32.0        NaN    Rain
2017-01-08          NaN        NaN   Sunny
2017-01-09          NaN        NaN     NaN
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

## fillna

### fill all NaN with one specific value

In [10]:
new_df = df.fillna(0)
new_df

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04          0.0        9.0   Sunny
2017-01-05         28.0        0.0    Snow
2017-01-06          0.0        7.0       0
2017-01-07         32.0        0.0    Rain
2017-01-08          0.0        0.0   Sunny
2017-01-09          0.0        0.0       0
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

### fillna with column names and dict

In [15]:
new_df = df.fillna({'temperature' : 0, 'windspeed' : 0, 'event' : 'No event'})
new_df

            temperature  windspeed     event
day
2017-01-01         32.0        6.0      Rain
2017-01-04          0.0        9.0     Sunny
2017-01-05         28.0        0.0      Snow
2017-01-06          0.0        7.0  No event
2017-01-07         32.0        0.0      Rain
2017-01-08          0.0        0.0     Sunny
2017-01-09          0.0        0.0  No event
2017-01-10         34.0        8.0    Cloudy
2017-01-11         40.0       12.0     Sunny

### Use method to determine how to fill na values
### forward fill to fill the na values from the previous value

In [16]:
df_new = df.fillna(method = 'ffill')      #this is more relevant than putting 0
df_new

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04         32.0        9.0   Sunny
2017-01-05         28.0        9.0    Snow
2017-01-06         28.0        7.0    Snow
2017-01-07         32.0        7.0    Rain
2017-01-08         32.0        7.0   Sunny
2017-01-09         32.0        7.0   Sunny
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

### bfill to fill the na values from the next value

In [17]:
df_new = df.fillna(method = 'bfill')
df_new

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04         28.0        9.0   Sunny
2017-01-05         28.0        7.0    Snow
2017-01-06         32.0        7.0    Rain
2017-01-07         32.0        8.0    Rain
2017-01-08         34.0        8.0   Sunny
2017-01-09         34.0        8.0  Cloudy
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

### Use of axis

In [8]:
df_new = df.fillna(method = 'bfill', axis = 'columns')
df_new

         day temperature windspeed   event
0 2017-01-01        32.0       6.0    Rain
1 2017-01-04         9.0       9.0   Sunny
2 2017-01-05        28.0      Snow    Snow
3 2017-01-06         7.0       7.0     NaN
4 2017-01-07        32.0      Rain    Rain
5 2017-01-08       Sunny     Sunny   Sunny
6 2017-01-09         NaT       NaT     NaT
7 2017-01-10        34.0       8.0  Cloudy
8 2017-01-11        40.0      12.0   Sunny

### Use of limit parameter

In [6]:
df_new = df.fillna(method = 'ffill', limit = 1)
df_new

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04         32.0        9.0   Sunny
2 2017-01-05         28.0        9.0    Snow
3 2017-01-06         28.0        7.0    Snow
4 2017-01-07         32.0        7.0    Rain
5 2017-01-08         32.0        NaN   Sunny
6 2017-01-09          NaN        NaN   Sunny
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

### interpolate

In [13]:
df_new = df.interpolate()
df_new

ValueError: Invalid fill method. Expecting pad (ffill) or backfill (bfill). Got linear